:root {
	--primary: #ffffff;
	--secondary: #b6b6b6;
	--accent: #a05500;
	--foreground: #eeeeee;
	--background: #333333;
  }

h1 {
	color: white;
	margin-left: 0.2em;
	user-select: none;
}

body {
	background-color: var(--primary);
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toolbar {
	height: 3.5em;
	background-color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.toolbar label {
	display: flex;
	align-items: center;
	color: white;
	font-size: 1.2em;
}

.toolbar button, .options button {
	margin-right: 0.5em;
	background: none;
	border: none;
}

.toolbar button > img {
	height: 3em;
	width: 3em;
	filter: invert()
}

.options {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.2em 0;
}

#incident-select {
	height: 2.5em;
	width: calc(100% - 1em);
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	margin: 0.5em 0.5em 0.3em 0.5em;
}

.options button > img {
	height: 2.5em;
	width: 2.5em;
}

.options button {
	display: flex;
	margin: 0.5em 2em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.incident-form {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	margin-bottom: 1em;
}

.incident-form label {
	display: flex;
	flex-direction: column;
	margin: 0 0.5em;
	margin-top: 0.2em;
}

.incident-form label * {
	height: 2em;
	border: 1px solid var(--secondary);
	margin-top: 0.2em;
	border-radius: 0.5em;
}

#dispatcher, #login {
	visibility: hidden;
	position: fixed;
	top: 1em;
	left: 3vw;
	width: 90vw;
	border-radius: 0.5em;
	background-color: var(--primary);
	border: 1px solid var(--secondary);
	filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
	padding: 2vw;
}

#form-login {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

#form-login * {
	padding: 0.3em;
}

#dispatcher {
	display: flex;
	flex-direction: column;
}

#dispatcher form {
	display: flex;
	flex-direction: column;
}

#dispatcher ul {
	height: 512px;;
	overflow-x: hidden;
	overflow-y: scroll;
}

.btn-usr {
	background-color: var(--primary);
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	height: 3em;
}

#dispatcher h2 {
	margin-left: 0.5em;
}

#dispatcher .btn-dis-sub {
	width: calc(100% - 2em);
	height: 4em;
	background-color: var(--foreground);
	font-weight: bold;
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	margin: 1em;
}

/* This is the google map */
#map {
	margin: 0 0.5em;
	height: 50vw;
	border-radius: 0.5em;
	border: 1px solid var(--secondary);
}

button:hover {
	filter: invert(40%);
}

button:active {
	filter: invert(80%);
}

#btn-close-dispatcher, #btn-close-login {
	background-color: rgb(230, 11, 11) !important;
	position: absolute;
	right: 0;
	top: 0;
	width: 4em;
	height: 4em;
	border: 1px solid var(--secondary);
	border-radius: 0.5em;
	color: white;
	margin: 0.5em;
}

.role-selector {
	display: flex;
	flex-direction: row;
}